extends layout

block content
	h1 CV Search Login 
	p Use <i>Louise</i> for the username and <i>Microsoft</i> for the password.
	form(method='post')
		p
			label(for='username') Username
			input(type='text', name='username')
		p
			label(for='password') Password
			input(type='password', name='password')
		input(type='submit')